/* import font iranYekan */
@import url("./assets/css/font.css");

/* ریست html */
* {
  box-sizing: border-box;
  font-family: "IranYekan";
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}
/* تعریف متغیرها */
:root {
  /* Change favorite color */
  --hue-color: 270;
  --primaryColor: #6d28d9;
  --secondaryColor: #f9e6f9;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #7c7c7c;
  --mainRed: #db2777;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --first-color-second: #a8a8c7;
  --body-color: rgba(115, 113, 113, 0.15);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: #000;
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --border-color: hsl(var(--hue-color), 150%, 100%);
}

/*========== Variables Dark theme ==========*/

body.dark-theme {
  --primaryColor: rgba(5, 0, 0, 0.879);
  --secondaryColor: #061a32;
  --mainWhite: #111927;
  --mainBlack: #fff;
  --mainGrey: #7c7c7c;
  --mainRed: #db2777;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --first-color-second: #061a32;
  --bodyColor: #111927;
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: #e3e4e5;
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --border-color: hsl(var(--hue-color), 55%, 25%);
}

/* دادن استایل به بدنه سایت */
html,
body {
  box-sizing: border-box;

  outline-style: none;

  font-family: "IranYekan", sans-serif;

  background-color: var(--bodyColor);
  color: var(--text-color);
  --duration: 3s;
  --timing: ease;
  transition: color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);
 
}
/* منوی پیمایش */

.nav_container {
  width: 100%;
  height: 60px;
  box-shadow: 0 1px 1px rgba(209, 186, 186, 0.959);
  background: var(--mainWhite);
  border: 1px solid var(--mainWhite);

  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
}
/* لیست منوی پیمایش */
.nav_container .nav_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
}
/* آیتم های  لینک منو پیمایش */
.nav_link .nav_item {
  float: right;
  font-size: 16px;
  color: var(--mainBlack);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* تگ a منوی پیمایش */
.nav_link .nav_item a {
  color: var(--input-color);
  text-decoration: none;
}
ul.nav_link li.nav_item a:hover {
  color: var(--mainGrey);
  transition: var(--mainTransition);
}

/* منوی همبرگری */
.bar {
  width: 25px;
  height: 3px;
  background-color: var(--mainWhite);
  margin: 5px 0;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  margin-right: 1rem;
}

.bar:hover {
  color: aqua;
}
/* TOGGLER */

.toggler {
  cursor: pointer;
  margin-left: 2rem;
}

.nav_expanded .bar-one {
  transform: rotate(-45deg) translate(-9px, 6px);
  margin: 8px 0;
}

.nav_expanded .bar-two {
  transform: translate(-20px);
  opacity: 0;
}

.nav_expanded .bar-three {
  transform: rotate(45deg) translate(-8px, -8px);
  margin: 8px 0;
}

.bar:hover {
  color: #03161d;
}

/* logo */
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}

.logo img {
  margin-top: 1rem;
  width: 110px;
  height: 110px;
  /* box-shadow: 1px 2px 3px 3px rgba(53, 60, 151, 0.2); */
  /* border-radius: 50%; */
  background-color: transparent;
}

/* change theme */
.nav_container .uil {
  font-size: 1.3rem;
  color: var(--hue-color);

  cursor: pointer;
}

/* Add a blue background color to navigation links on hover */
.navbar a:hover {
  box-shadow: 0 20px 120px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  backdrop-filter: blur(15px) saturate(120%);
  -webkit-backdrop-filter: blur(16px) saturate(120%);
  background-color: rgba(17, 25, 40, 0.3);

  border: 1px solid rgba(255, 255, 255, 0.125);
}

/* hero */
/* blurring the image */
.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;
  color: white;
}

.hero h1 {
  /* Text styles */
  font-size: 1.5em;

  /* Margins */
  margin-top: 3.5rem;
  margin-bottom: 0.5em;
}

/* استایل به فرم ورود */
.log_title {
  color: var(--title-color);
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
.log_form_Container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  height: auto;
  margin: 10% auto;
  box-shadow: 0 3px 3px rgba(209, 186, 186, 0.959);
  background: var(--mainWhite);
  border: 1px solid var(--border-color);
  border-radius: 12px;
  z-index: 0;
  gap: 1rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.log_form_Container form input {
  font-size: 0.75rem;
  padding: 0.7rem;
  border-radius: 12px;
  outline-style: none;
  box-shadow: 0 10px 120px rgba(209, 186, 186, 0.959);
  background: var(--mainWhite);
  border: 1px solid rgba(255, 255, 255, 0.966);
  width: 250px;
  color: var(--input-color);
}
.btns {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.btn {
  box-shadow: 0 20px 120px rgba(209, 186, 186, 0.959);
  background-color: var(--primaryColor);
  border: none;
  padding: 0.5rem;
  border-radius: 7px;
  color: var(--text-color);
  font-size: 14px;
  margin-top: 0.5rem;
  width: 80px;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.userinfo .btns a.btn {
  text-decoration: none;
  padding: 1.1rem;
  text-align: center;
}
.log_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  color: var(--title-color);
}

.log_footer > a {
  text-decoration: none;
  color: var(--mainGrey);

  font-weight: bold;
  font-size: 1rem;
}
.log_footer > a:hover {
  color: var(--primaryColor);
}
.error {
  background-color: #f2dede;
  color: crimson;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border: 1px solid var(--primaryColor);
}
@media screen and (min-width: 320px) {
  .nav_container {
    max-width: 100%;
  }
  .nav_container .nav_link a {
    font-size: 1rem;
  }

  .log_form_Container,
  .reg_form_Container {
    margin: 5rem auto;
  }
  .log_form_Container form,
  .reg_form_Container form {
    min-width: 300px;
  }

  .log_form_Container form input,
  .reg_form_Container form input {
    max-width: 100%;
  }

  form {
    flex-direction: row;
  }
  /* label,
  input[type="text"],
  input[type="date"],
  input[type="number"],
  select {
    width: auto;
    margin-right: 20px;
    margin-bottom: 0;
  } */
}

@media screen and (min-width: 968px) {
  .log_form_Container,
  .reg_form_Container {
    width: 100%;
  }

  .log_form_Container form,
  .reg_form_Container form {
    width: 400px;
    margin-bottom: 2rem;
  }
}
/* استایل به فرم ثبت نام */
.reg_title {
  color: var(--title-color);
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.reg_form_Container form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 50%;
  height: auto;
  box-shadow: 0 3px 3px rgba(209, 186, 186, 0.959);
  background: var(--mainWhite);
  border: 1px solid var(--border-color);

  border-radius: 12px;
  margin: 10% auto;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.reg_form_Container form input {
  font-size: 0.75rem;
  padding: 0.7rem;
  border-radius: 12px;
  outline-style: none;
  box-shadow: 0 10px 120px rgba(209, 186, 186, 0.959);
  background: var(--mainWhite);
  border: 1px solid rgba(255, 255, 255, 0.966);
  width: 250px;
  color: var(--input-color);
}

.reg_form_desc {
  align-items: center;
  display: flex;
  color: var(--title-color);
}

.reg_form_desc a {
  color: var(--mainGrey);
  margin-right: 0.5rem;
  margin-bottom: 0.4rem;
  text-decoration: none;
}
.reg_form_desc a:hover {
  margin-right: 0.5rem;
  margin-bottom: 0.4rem;
  color: var(--primaryColor);
}

.alert-info {
  width: 200px;
  height: auto;
  background-color: rgba(4, 44, 21, 0.185);
  color: var(--primaryColor);
}

/*  style to error  */
.reg_form_Container form .error-msg {
  margin: 10px 0;
  display: block;
  background-color: crimson;
  color: var(--mainWhite);
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
}
/* about */
.about_container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  align-items: center;
  max-width: 90%;
  height: auto;
  backdrop-filter: blur(15px) saturate(120%);
  -webkit-backdrop-filter: blur(16px) saturate(120%);
  background-color: rgba(17, 25, 40, 0.3);
  border-radius: 7px;
  margin: 2rem auto;
  padding: 1rem;
  color: var(--mainWhite);
  line-height: 2;
}
.about_title h1 {
  font-size: 1.9rem;
  color: var(--mainWhite);
  margin-top: 4rem;
  padding: 1.5rem;
  text-align: center;
}
.about_title h5 {
  color: var(--mainWhite);

  padding: 0.2rem;
  text-align: center;
}
/* tables */

table {
  width: 65%;
  z-index: 1;
  border-collapse: collapse;
  color: black;
  margin: 0 auto;
  padding: 1rem;
  font-size: 13px;
}
 table,
th,
td,
tr,
thead {
  border: 1px solid white;
  font-size: 13px;
  color:currentColor;
}

th {
  background-color: rgba(0, 0, 0, 0.6);
}

td {
  padding: 0 0.2rem;
}

/* user panel */
#userpanel {
  width: 80%;
  height: 100%;
  backdrop-filter: blur(15px) saturate(120%);
  -webkit-backdrop-filter: blur(16px) saturate(120%);
  background-color: rgba(17, 25, 40, 0.3);
  border-radius: 7px;
  margin: 6rem auto 0;
  padding: 2rem;
}

.user_profile {
  display: flex;
  justify-content: center;
  gap: 2.5rem;

  border-radius: 7px;
  padding: 0.7rem;
}

.user_profile form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.user_profile form input {
  font-size: 14px;
  padding: 0.7rem;
  border-radius: 12px;
  outline-style: none;
  box-shadow: 0 20px 120px rgba(0, 0, 0, 0.07);

  backdrop-filter: blur(15px) saturate(120%);
  -webkit-backdrop-filter: blur(16px) saturate(120%);
  background-color: rgba(17, 25, 40, 0.3);

  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 250px;
  color: var(--mainWhite);
}

.user_profile span {
  color: white;
}
.user_profile #course {
  box-shadow: 0 20px 120px rgba(0, 0, 0, 0.07);

  backdrop-filter: blur(10px) saturate(120%);
  -webkit-backdrop-filter: blur(16px) saturate(120%);
  background-color: rgba(17, 25, 40, 0.3);

  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 200px;

  color: var(--mainWhite);
  padding: 0.2rem;
}

/* contact us */
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  backdrop-filter: blur(11px) saturate(120%);
  -webkit-backdrop-filter: blur(16px) saturate(120%);
  background-color: rgba(17, 25, 40, 0.3);

  border: 1px solid rgba(255, 255, 255, 0.125);
  margin: 6rem auto 0;
  padding: 1rem;
  color: white;
  text-align: center;
  border-radius: 7px;
  z-index: 1;
}
.contact_title h1 {
  margin: 1.5rem auto 0;
  text-align: center;
  font-size: 20px;
}
.contact_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  padding: 1rem;
  backdrop-filter: blur(15px) saturate(120%);
  -webkit-backdrop-filter: blur(16px) saturate(120%);
  background-color: rgba(17, 25, 40, 0.3);

  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 7px;
}

.contact__information {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contact__icon {
  font-size: 25px;
  color: rgba(12, 201, 198, 0.8);
}
.contact__subtitle a {
  color: rgba(13, 194, 240, 0.76);
}
.map {
  border-radius: 5px;
}

/* buy ticket */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin: 30px auto 0;
  max-width: 1268px;
height: 150px;
  border: 1px solid var(--first-color-second);
  padding: 50px;
  border-radius: 12px;
  background-color: var(--bodyColor);
  box-shadow: 0px 0px 10px var(--primaryColor);
  font-size: 0.99rem;
}
.container .formbuy {
  margin: 0 15px 0 0;
  font-size: 1rem;
  /* background-color: var(--body-color); */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

label {
  display: block;
  margin-right: 10px;
  font-weight: bold;
  color: var(--input-color);
  font-size: 0.85rem;
}

.formbuy input[type="text"],
select#source,
select#destin,
select#type {
  width: auto;
  padding: 10px 0;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 0.9rem;
  margin: 5px;
  text-align: center;
  outline-style: none;

  background: var(--secondaryColor);
  border: 1px solid var(--border-color);

  color: var(--input-color);
}

input[type="number"] {
  width: 80px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 7px;
  font-size: 0.85rem;
  margin: 5px;

  outline-style: none;
  box-shadow: 0 10px 120px rgba(209, 186, 186, 0.959);
  background: var(--secondaryColor);
  border: 1px solid var(--border-color);

  color: var(--input-color);
}

input[type="submit"] {
  margin: 0 auto;
  background-color: var(--primaryColor);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 0.85rem;
}
/* search table */
div .table_search {
  width: 1268px;
  border-collapse: collapse;
  margin-top: 20px;
  color: var(--title-color);
}

.table_search th,
.table_search td {
  padding: 10px;
  text-align: center;
  border: 1px solid transparent;
}

.table_search th {
  background-color: var(--secondaryColor);
}

/* charge page zarinpalapi.php */

/* استایل فرم زرین پال */

.containers {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin: 70px auto 0;
  max-width: 500px;

  border: 1px solid var(--first-color-second);
  padding: 50px;
  border-radius: 12px;
  background-color: var(--bodyColor);
  box-shadow: 0px 0px 10px var(--primaryColor);
  font-size: 0.99rem;
}

form .charge {
  margin: 0 15px 0 0;
  font-size: 1rem;
  /* background-color: var(--body-color); */
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100%;
}

.charge input[type="number"],
.charge input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 7px;
  font-size: 0.85rem;
  margin: 5px;

  outline-style: none;
  box-shadow: 0 10px 120px rgba(209, 186, 186, 0.959);
  background: var(--secondaryColor);
  border: 1px solid var(--border-color);

  color: var(--input-color);
}

.charge input[type="submit"] {
  background-color: var(--primaryColor);
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 10px;
}

.ticket-table {
  width: 1268px;
  border-collapse: collapse;
  color: var(--primaryColor);
 margin-top: 20px;

 
 
  border: none;
}

.ticket-table th,
.ticket-table td {
  border: 1px solid #ddd;
  padding: 8px;
  color:var(--mainBlack);
  background-color: var(--body-color);
  font-size: 12px;
   
 
  background-color: var(--bodyColor);

}

.ticket-table th {
  background-color:var(--mainGrey);
  text-align: center;
   background-color: var(--body-color);
   
}

.ticket-table tr:nth-child(even) {
 background-color: var(--mainWhite);
}



.ticket-table td {
  text-align: center;
}
.ticket-table td a{
  color:green;
  text-decoration: none;
}


/* logo in print ticket */
.print{
  display: none;
}

/* عدم نمایش navbar */
@media print {
  .no-print {
    display: none;
  }
  .print{
    display: block;
  }
}
/*  hero banner*/
/* Background styles */
.hero{
 width: 100vw;
  height: 100vh;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;


   background-image: linear-gradient(
      rgba(42, 45, 110, 0.4),
      rgba(11, 8, 120, 0.5),
      rgba(45, 12, 111, 0.3)
    ),
    url("/assets/images/trainPerspective.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
 